root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.sh]
shell_variant      = bash
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = false  # like -sr
keep_padding       = true  # like -kp
function_next_line = false  # like -fn

[*.{json,yaml,yml}]
indent_size = 2
