#
# install module to /home/<user>/.config/foo
#
module_target="$HOME/.config/foo"

#
# install module to C:/Users/<user>/AppData/Local/foo on
# windows via dot.ps1
#
module_target_win32="$env:APPDATA/foo"

#
# install module to /home/<user>/.config/foo and C:/Users/<user>/.config/foo
# on both linux (dot.sh) and windows (dot.ps1)
#
module_target="$HOME/.config/foo"
module_target_win32=inherit
