$InstallTarget = "Z:\path\to\files"

function Dot-PreInstall {
    # custom action before install process (default/custom method)
}

function Dot-Install {
    # custom install method that will replace the default method
    # Note: remove it if you want to use the default method
}

function Dot-PostInstall {
    # custom action after install process (default/custom method)
}
