$dest = "Z:\path\to\files"

function preinstall {
    # custom action before install process (default/custom method)
}

function postinstall {
    # custom action after install process (default/custom method)
}
