$InstallTarget = "Z:\path\to\files"

function PreInstall-Dotfiles {
    # custom action before install process (default/custom method)
}

function Install-Dotfiles {
    # custom install method that will replace the default method
    # Note: remove it if you want to use the default method
}

function PostInstall-Dotfiles {
    # custom action after install process (default/custom method)
}
