mkcd(){
  mkdir -p "$1"
  cd "$1"
}

findstring(){
  find $1 -type f | while read fi; do
    if [[ -n $(cat $fi | strings | grep -i -E "$2") ]]; then
        printf "\r\033[K Found : %s\n" $fi
    else
        printf "\r\033[K >> Looking at %s" $fi
    fi
  done
  printf "\r\033[K Done\n"
}

alias :q="exit"
alias {ed,emacs,nano,v,vi}="vim"
alias {yaourt,yay}="trizen"
alias admesg="adb shell su -c dmesg"
alias alog="adb logcat"
alias aroot="adb shell su -c"
alias grep="grep -i"
alias ll="ls --color=auto -la"
alias lsport="sudo lsof -i"
alias open="xdg-open"
alias update-grub="sudo grub-mkconfig -o /boot/grub/grub.cfg"
alias tmux="tmux a || tmux"
