@define-color colorBackground #101017;
@define-color colorForeground #bdc3c7;
@define-color colorSecondaryBackground #1f222e;

@define-color color0 #33333f;
@define-color color1 #ff568e;
@define-color color2 #64de83;
@define-color color3 #efff73;
@define-color color4 #73a9ff;
@define-color color5 #946ff7;
@define-color color6 #62c6da;
@define-color color7 #dedeef;

* {
    all: unset;
    font-weight: 600;
    font-size: 9pt;
}

window#waybar {
    background-color: alpha(@colorBackground, 0.9);
    color: @colorForeground;
    border-bottom: 1px solid @color0;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background-color: alpha(@colorBackground, 0.95);
    padding: 0.5rem 1.25rem;
    border: 1px solid @color0;
    font-size: 12px;
}

.modules-left,
.modules-right,
.modules-center {
    padding: 5px 0 6px;
}

.modules-left {
    margin-left: 15px;
}

.modules-right {
    margin-right: 15px;
}

#workspaces {
    margin: 1px 0px;
    border-radius: 10px;
    background: @colorSecondaryBackground;
}

#workspaces button {
    color: @colorForeground;
    padding: 2px 8px;
    border: none;
    background: @colorSecondaryBackground;
    transition-property: background-color;
    transition-duration: 0.2s;
    border-radius: 9px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border: none;
    background: alpha(@color4, 0.2);
}

#workspaces button.active {
    background-color: @color4;
    color: @colorBackground;
}

#workspaces button.urgent {
    background-color: @color1;
    color: @colorBackground;
}

#window {
    padding: 0px 10px;
}

#tray {
    margin-right: 15px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray menu {
    background-color: alpha(@colorBackground, 0.95);
    border: 1px solid @color0;
}

#tray menuitem {
    padding: 0.5rem 1.25rem;
}

#tray menuitem:hover {
    background-color: @colorSecondaryBackground;
}

#submap {
    padding: 2px 10px;
    border-radius: 10px;
    margin: 1px 10px 1px 0px;
    background: alpha(@color5, 0.1);
    color: @color5;
}

#temperature,
#cpu,
#memory,
#pulseaudio,
#network {
    padding: 2px 10px;
    border-left: 2px solid @colorSecondaryBackground;
    border-radius: 0 10px 10px 0;
    margin: 1px 10px 1px 0px;
    background: @colorSecondaryBackground;
    color: @color7;
}

#temperature {
    border-color: @color3;
}

#cpu {
    border-color: @color2;
}

#memory {
    border-color: @color1;
}

#network {
    border-color: @color6;
}

#pulseaudio {
    border-color: @color5;
}
