@-moz-document url(about:newtab),
url(about:home) {
    :root {
        --preferred-fg: #10101f;
        --preferred-bg: #fefefee0;
        --preferred-primary: #ff568e;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --preferred-fg: #eee;
            --preferred-bg: #10101ff0;
        }
    }

    body {
        background-image: url(newtab-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .search-wrapper .search-handoff-button {
        background-color: var(--preferred-bg) !important;
        border-radius: 0 !important;
        border-left: 3px var(--preferred-primary) solid !important;
    }

    .search-wrapper .wordmark {
        background-color: var(--preferred-bg) !important;
        padding: 10px !important;
        height: 72px !important;
        width: 200px !important;
        background-size: 180px !important;
    }

    .outer-wrapper.only-search {
        padding-top: 35vh !important;
    }
}
