@-moz-document url(about:newtab), url(about:home) {
    :root {
        --preferred-fg: #111;
        --preferred-bg: #fff6;
        --preferred-bg-opaque: #fff;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --preferred-fg: #eee;
            --preferred-bg: #0006;
            --preferred-bg-opaque: #000;
        }
    }

    body {
        background-image: url(newtab-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .search-wrapper .search-handoff-button {
        border-radius: 2rem !important;
        backdrop-filter: blur(2rem);
        background-color: var(--preferred-bg) !important;
    }

    .search-wrapper .wordmark {
        background-color: var(--preferred-bg-opaque) !important;
        padding: 10px !important;
        height: 72px !important;
        width: 200px !important;
        background-size: 180px !important;
    }

    .outer-wrapper.only-search {
        padding-top: 35vh !important;
    }
}
