[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*;
Actions=SetAsWallpaper;
X-KDE-Priority=TopLevel

[Desktop Action SetAsWallpaper]
Name=pywal-ify
Exec=sh -c "wal -i %f -o ~/.config/wal/post-launch.sh"
Icon=image