/* Adjust spacer when window is floating */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
    width: 0 !important;
}
.toolbar-items {
    padding-inline: 5px !important;
}

/* Fix tab color and shape */
#tabbrowser-tabs {
    --user-tab-rounding: 5px;
    --tab-selected-bgcolor: var(--toolbar-bgcolor) !important;
    --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important;
}

.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 1px 0 !important;
}

/* Smaller tab */
#TabsToolbar,
#tabbrowser-tabs {
    --tab-min-height: 30px !important;
}
