/* Override some elements appearance that mostly
 * screwed by Dark GTK Themes
 */
html {
    background-color: white;
}

input,
textarea,
select {
    background-color: white;
    color: black;
    -moz-appearance: none !important;
}

input[type="checkbox"] {
    border: 2px inset white !important;
    height: 16px !important;
    width: 16px !important;
    background: #fff;
    color: black;
    -moz-appearance: none !important;
}

input[type="checkbox"]:checked {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAIAAADtkjPUAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHnpUWHRBdXRob3IAAAiZ881MzkhMzVHwzClOTCwGACZCBTHxPzNAAAAApUlEQVQY03WQTQ6DIBCFoQkLtClWvYjeoAjx5rBSOUWNujbspIP2h5L2LRiS7yXz5mG3y1oLL8Y4SRL0rVOIKaUhM8b44V7ats0FGoahKEv4IPdLfd8D5vw2TRP6h5uGz/O8rmvs6LoOsBDNgWE10lqzLGvbFvICzotCCLEsy4GfOZRSF8aqur7meYQ/SQ+TlDLCvgXv2m8ex3uangkh0Ap0827lAepN1LAZl997AAAAAElFTkSuQmCC") !important;
    background-position: bottom 4px !important;
    color: black !important;
    border: 2px inset white !important;
    -moz-appearance: none !important;
}

input[type="radio"] {
    border: 2px outset white !important;
    height: 16px !important;
    width: 16px !important;
    border-radius: 50%;
    background: #eee;
}

input[type="radio"]:checked {
    border: 2px inset white !important;
    background: #ddd;
    color: black;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: lightgray;
    color: black;
    -moz-appearance: none !important;
}

input[type="range"]::-moz-range-track {
    background-color: black;
    -moz-appearance: none !important;
}

input[type="range"]::-moz-range-thumb {
    background-color: white;
    border-color: black;
    -moz-appearance: none !important;
}

/* super minimal flat scrollbar */
:root {
    scrollbar-color: var(--color-border-overlay) transparent;
}
* {
    scrollbar-width: thin;
}
