/* Override some elements appearance that mostly
 * screwed by Dark GTK Themes
 */
input, textarea, select, button {
    background-color: white;
    color: black;
    -moz-appearance: none !important;
}

/* super minimal flat scrollbar */
:root {
    scrollbar-color: var(--color-border-overlay) transparent;
}
* {
    scrollbar-width: thin;
}
