[user]
	name = Nauval Rizky
	email = enuma.alrizky@gmail.com
[merge]
	renamelimit = 999999
[diff]
	renameLimit = 999999
[alias]
	merge = merge --no-ff
	onelog = "log --oneline --pretty=format:\"%h # %ai %s\""
[color]
	ui = auto
[core]
	autocrlf = false
	eol = lf
